.dropdown-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile p {
    margin: 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .menu-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .logout-button {
    margin-top: 20px;
    background-color: #b53550;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }