.crear-step1-container {
  width: 500px;
  height: 620px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 70px;
}

.Step1 {
  position: absolute;
  top: 90px;
  right: 800px;
  cursor: pointer;
}

.crear-step1-logo {
  width: 100px; 
  height: auto; 
  margin-bottom: 20px; 
}

.crear-step1-title {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.crear-step1-subtitle {
  font-size: 18px; 
  margin-bottom: 10px; 
}

.crear-step1-input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.crear-step1-label {
  font-size: 16px; 
  margin-bottom: 5px; 
}

.crear-step1-input {
  width: 220px; 
  height: 30px; 
}

.crear-step1-paragraph {
  font-size: 15px; 
  margin-bottom: 20px; 
}

.crear-step1-button {
  width: 150px; 
  height: 40px; 
  background-color: #b53550; 
  color: #ffffff; 
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.crear-step1-button:hover {
  background-color: #8e222f;
}

.contiStep {
  margin-top: 20px;
}