@import url('../../Components/StyleVariables/Color.css');

.logear-container {
    width: 450px;
    height: 555px;
    border-radius: 25px;
    padding: 50px 20px;
    margin: 50px auto;
    box-shadow: var(--shadow-down);
    position: relative;
}

.logo-container-Log {
    margin: 30px 0px;
}

.closeLog-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.post-titleLo {
    font-size: 24px;
    margin-bottom: 30px;

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.email-input,
.password-input,
.repeat-password-input {
    width: 350px;
    height: 40px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.continue-codi {
    width: 250px;
    height: 35px;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--buttonOn-font-color);
    ;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.continue-codi:hover {
    background-color: var(--primary-color-hover);
}

.back-arrow {
    margin-top: auto;
    margin-right: 300px;
}

.link {
    text-decoration: none;
}