:root {

    --primary-color: #C32454;
    --primary-color-hover: #9d2046; 
    --secondary-color: #107B50;
    --secondary-color-hover: #0c603e;
    --terciary-color: #934BDB;
    --background-color: #D9D9D9;
    --winddows-color: #FAF9FA;
    --buttonOn-font-color: #F7F6F6;
    --regular-font-color: #000000;
    --placeholder-font-color: #79767D;
    --buttonOff-font-color: #817E85;
    --buttonOff-color: #CAC5CD;
    --error-color: #B90000;
    --error-color-back: #b9000027;
    --shadow-down:0px 8px 15px rgba(0, 0, 0, 0.3);
    --shadow-left:8px 0px 15px rgba(0, 0, 0, 0.3);


}



.dark {
    --primary-color: #DE657F;
    --primary-color-hover: #c43b59; 
    --secondary-color: #5AE9B0;
    --secondary-color-hover: #5AE9B0;
    --terciary-color: #B990E2;
    --background-color: #322F35;
    --winddows-color: #1D1B20;
    --regular-font-color: #F7F6F6;
    --placeholder-font-color: #79767D;
    --buttonOff-font-color: #1D1B20;
    --buttonOff-color: #48464C;
    --error-color: #FE4545;
}