.recuperar-contraseña-container {
    width: 795px;
    height: 861px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #e0e0e0; 
    margin: 0 auto; 
}

h1 {
    width: 232px;
    height: 38px;
    margin-bottom: 20px;
}

p {
    width: 463px;
    height: 59px;
    margin-bottom: 20px;
}

.input-container {
    width: 528px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-container label {
    width: 140px;
    height: 20px;
    margin-bottom: 5px;
}

.input-container input {
    width: 528px;
    height: 56px;
    margin-bottom: 20px;
}

p > span {
    width: 133px;
    height: 24px;
}

.continuar {
    width: 532px;
    height: 64px;
    background-color: #b53550;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

p:last-of-type {
    width: 795px;
    height: 29px;
    margin-top: 20px;
}