.titulo-container {
    text-align: center; 
    margin-top: -1140px; ; 
    max-width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
}
  
.titulo {
    font-size: 44.79px; 
    font-weight: bold; 
    line-height: 1; 
}
 