.boton-med {
    width: 150px; 
    height: 40px; 
    background-color: #b53550; 
    color: #ffffff; 
    border: none; 
    border-radius: 20px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    transition: background-color 0.3s ease;
    margin-left: 400px;
    margin-top: 15px;
}

.boton-med:hover {
    background-color: #8e222f;
}