.SideNav {
  width: 154px;
  height: 1040px;
  background-color: #b53550;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: #ffffff;
}

.logo-container,
.profile-picture-container {
  margin-bottom: 20px;
  cursor: pointer;
}

.button {
  width: 50px;
  height: 50px;
  margin-bottom: 80%;
  padding: 0 2.51px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.button img {
  max-width: 100%;
  max-height: 100%;
}

.logo-image {
  width: 100px;
  height: auto;
  margin-left: 10px;
  margin-right: auto;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
}

.icon {
  font-size: 16px;
  margin-bottom: 5px;
}