.crear-step2-container {
    position: relative;
    width: 500px;
    height: 620px;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}

.Step2 {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

.cerrar:hover {
    color: #888;
}

.crear-step2-logo {
    width: 100px; 
    height: auto; 
    margin-bottom: 20px; 
}

.crear-step2-title {
    font-size: 24px; 
    margin-bottom: 10px; 
}

.crear-step2-subtitle {
    font-size: 18px; 
    margin-bottom: 10px; 
}

.crear-step2-input {
    width: 200px; 
    height: 30px; 
    margin-bottom: 20px;
}

.crear-step2-paragraph {
    font-size: 18px; 
    margin-bottom: 20px; 
}

.crear-step2-alert {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    background-color:#d40000;
    border-radius: 10px;
    width: auto;
    padding: 5px 40px;
}

.crear-step2-span {
    margin-right: 10px;
}

.crear-step2-button {
    width: 170px; 
    height: 40px; 
    background-color: #b53550; 
    color: #ffffff; 
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    line-height: 40px;
}

.crear-step2-button:hover {
    background-color: #8e222f;
  }

.contiStep2 {
    margin-top: 20px;
    text-decoration: none;
}