.footer {
    background-color: #000;
    color: #ffffff; 
    padding: 40px 20px;
    text-align: center; 
    width: 100%; 
    margin-top: 200px;
    font-weight: bold; /* Agrega esta línea para establecer el texto en negrita */
  }
  
.sobre-nosotros {
    font-size: 16px; 
}