.fotos-perfil-container {
    position: relative;
    width: 590px;
    height: 740px;
    border: 2px solid rgb(221, 215, 215);
    border-radius: 10px;
    padding: 20px;
    left: 1150px;
    top: -800px;
}

.icono {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #b53550;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lapiz-icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    cursor: pointer;
}

.botones {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
}

.flecha-izquierda {
    cursor: pointer;
}

.flecha-derecha {
    margin-right: 33px;
    cursor: pointer;
}

.boton-elegir-perfil {
    width: 327px;
    height: 57px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #107B50;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}

.barra-carga-container {
    position: relative;
    width: 100%;
    margin-top: 740px; 
    margin-bottom: 20px; 
}
  
.barra-carga {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ccc; 
    overflow: hidden; 
}

.carga-completa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #b53550;
    width: 0;
}

.redondela {
    position: absolute;
    top: -5px;
    bottom: 0px;
    right: calc(100% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b53550;
}