.Boton-chico {
  width: calc(33.33% - 20px); 
  height: 28px;
  border-radius: 14px; 
  margin-bottom: 10px; 
  box-sizing: border-box; 
  background-color: #CDC5CB; 
  color: #B53550; 
  cursor: pointer;
}

.Boton-chico.rojo {
  background-color: #B53550;
  color: #FFFFFF;
}