@import url('../../StyleVariables/Color.css');

.boton-pin {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--buttonOn-font-color);
    ;
    font-family: 'Title', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.boton-pin:hover {
    background-color: var(--primary-color-hover);
}

.boton-pin:focus {
    outline: none;
}